<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <!--tipografia-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    -->
    <link rel="shortcut icon" href="./img/favicon-32x32.png" type="image/x-icon"> <!--favicon-->
    <link rel="stylesheet" href="./css/estilos.css"> <!--hoja de estilos-->
   


    <title>Conocelos</title>


</head>
<body>
    <section class="container">
        <header class="item header">
            <!-- en script.js -->
        </header>


        <!--main-->
        <main class="contenido">
            <!--seccion del banner-->
            <section class="banner" id="conocelos">
             <h2>CONOCELOS</h2>
            </section>

            <div id="app_conocelos">
                <!--Consumo Api con Json propio-->
                <!-- <p>{{datos}}</p> -->

                <div class="container_conocelos">
                    <!--
                    <nav>
                        <span id="navizquierdo">
                            <a href="index.html">
                                Volver_home
                            </a>
                        </span>
                     </nav>
                     <h3>Mascotas</h3>Filtro
                     -->
                    <label >Edad menor a :</label>
                    <input v-model="edad" type="number" id="edad">         
                                                                
                    <label>Tipo:</label>
                    <select v-model="tipo" name="tipo" >
                        <option  class="tipo"  selected >All</option>
                        <option  class="tipo" v-for="tipo of tipos">{{tipo}}</option>
                    </select>

                    <label>Genero:</label>
                    <select v-model="genero" name="genero" >
                        <option  class="genero"  selected >All</option>
                        <option class="genero" v-for="genero of generos"> {{genero}}</option>
                    </select> 

                    <button class="btn btn-primary" v-on:click="filtro() ">Buscar</button>
                    
                    <button class="btn btn-primary" @click="orden()">Orden Ascendente</button> 
                    <br>
                
                    <div  class="tarjeta">
                        <div v-for="elemento in datos">
                            <div class="cuerpo">
                                <img :src="elemento.imagen" :alt="elemento.nombre">
                                <p>Nombre: {{elemento.nombre}}</p>
                                <p>Edad: {{elemento.edad}}</p>
                                <p>Genero: {{elemento.genero}}</p>
                                <button v-on:click="logueado()">Adoptar</button>
                            </div>
                        </div>
                 </div>
            </div>
        
        </main>    
        
        <!--footer-->
         <footer class="item footer">
          <!-- en script.js -->
         </footer> 
    </section>
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/pg.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>