.contenedor_tarjeta{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around ;
}

/*
.tarjeta img {
  width: 200px; Ajusta este valor al tamaño deseado 
  height: 200px;  Esto permite que la imagen se ajuste proporcionalmente 
}

.img{
  width: 100px;
  height: 150;
  object-fit: cover;
}
*/

.tarjeta{
  width: 300px;
  border: 1px solid black;
  margin-top: 10px;
  border-radius: 10px;
}

.tarjeta_imagen{
  width: 100%;
}

.tarjeta_imagen img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}
  
.tarjeta_cuerpo{
  width: 100%;
  height: 50%;
  margin-left: 10px;
}


