.contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around ;
  object-fit: cover;
}
.contenedor img {
  width: 200px; /* Ajusta este valor al tamaño deseado */
  height: 200px; /* Esto permite que la imagen se ajuste proporcionalmente */
  margin-right: 10px; /* Espacio entre las imágenes */
  margin-bottom: 10px; /* Espacio debajo de las imágenes */
}

.data{
  width: 200px;
  height: 200px;
  
}

/*.img{
  width: 100px;
  height: 150;
  object-fit: cover;
}
*/    
.cuerpo{
  margin: 100px;
}


