<!doctype html>
<html lang="en">
<head>
  <title>Persona Nueva</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="./css/estilos.css">
  </head>
<body>
  <header id="header">
    <!-- place navbar here -->
  </header>
  <main>
    <div class="container" id="app">
       <form  style="background-color: aliceblue;margin:10px auto ; width: 400px; padding: 20px;">
        <h1>Alta de persona</h1>
        <div class="mb-3">
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" id="nombre" v-model="nombre">
        </div>
        <div class="mb-3">
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" v-model="apellido">
          </div>
        <div class="mb-3">
            <label for="imagen">Foto</label>
            <input type="text" name="foto" id="foto" v-model="foto">
            <img width="100" :src="imagen" alt="">
          </div>
          <div class="mb-3">
            <label for="mail">Mail</label>
            <input type="text" name="mail" id="mail" v-model="mail">
          </div>

        <div class="mb-3">
            <label for="fechanac">Fecha de Nacimiento</label>
            <input type="date" name="fechanac" id="fechanac" v-model="fechanac">
          </div>
          <div class="mb-3">
            <label for="movil">Movil</label>
            <input type="text" name="movil" id="movil" v-model="movil">
          </div>
          <div class="mb-3">
            <label for="genero">Género</label>
            <input type="text" name="genero"id="genero" v-model="genero">
          </div>
          <div class="mb-3">
            <label for="ususario">USUARIO</label>
            <input type="text" name="ususario"id="ususario" v-model="usuario">
          </div>
          <div class="mb-3">
            <label for="clave">CLAVE</label>
            <input type="text" name="clave"id="clave" v-model="clave">
          </div>
          <div class="mb-3">
            <label for="rol">ROL</label>
            <input type="text" name="rol"id="rol" v-model="rol">
          </div>     
           <button type="button" class="btn btn-success" v-on:click="grabar()">Grabar</button>
        </form>
      </div>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>

   <!-- <script src="./js/main.js"></script>-->
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   <script src="./js/personasCRUD.js"></script>
    <!--<script src="./js/persona_update.js"></script>-->
   
  </body>
  </html>